Flask
Flask-SocketIO
Flask-WTF
Flask-SQLAlchemy
dkpro-cassis
docx2pdf
fpdf2
matplotlib
numpy
odfpy
pandas
pdfminer.six
pillow
PyYAML
seaborn
thefuzz
transformers
WTForms
Flask-HTTPAuth
python-docx
timm
surya-ocr
scikit-learn
prometheus_client
PyMuPDF
aiohttp
openpyxl