Flask
Flask-SocketIO
Flask-WTF
Flask-SQLAlchemy
dkpro-cassis
docx2pdf
matplotlib
numpy
odfpy
pandas
pillow
PyYAML
seaborn
thefuzz
torch
torchvision
transformers
WTForms
Flask-HTTPAuth
python-docx
timm
surya-ocr
scikit-learn
prometheus_client
PyMuPDF
aiohttp
openpyxl