{% extends "layout.html" %}
{% block content %}

<div class="content-section">

    <a class="btn btn-outline-info mb-4" href="{{ url_for('annotationhelper.annotationhelperqueue') }}">
        <i class="bi bi-arrow-left-circle"></i> <b>Back to Annotation Helper Queue</b>
    </a>

    <h1 class="display-4 text-center mb-3">Annotation Helper</h1>

    <!--Current jobs button-->

    <form action="" method="post" enctype="multipart/form-data">

        {{ form.hidden_tag() }}

        <fieldset class="form-control p-3">
            <legend>LLM Output File (.zip)</legend>

            <div class="row">
                <div class="form-group col-md-12">

                    {% if form.file.errors %}
                    {{ form.file(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.file.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.file(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            </div>
        </fieldset>

        <div class="row p-3">
            <div class="form-group col-md-12">
                <button type="submit" name="submit-metrics"
                    class="form-control form-control-lg btn btn-secondary">Annotation Helper</button>
            </div>
        </div>

    </form>

</div>

{% endblock %}