{% extends "layout.html" %}
{% block content %}

<style>
    .info-callout {
        border-left: 5px solid #17a2b8; /* Bootstrap info color */
        background-color: #e9f7fb; /* Lightened info background */
        padding: 15px;
        margin-bottom: 5px;
        margin-top: 20px;
        border-radius: 4px;
        color: #0c5460; /* Bootstrap info text color */
    }

    .warning-callout {
        border-left: 5px solid #ffc107; /* Bootstrap warning color */
        background-color: #fff3cd; /* Lightened warning background */
        padding: 15px;
        margin-bottom: 5px;
        margin-top: 20px;
        border-radius: 4px;
        color: #856404; /* Bootstrap warning text color */
    }
    
    /* .callout-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    } */
</style>

<div class="content-section">
    <h1 class="display-4 text-center mb-3">Document Preprocessing</h1>

    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
    
        <fieldset class="border rounded p-4 mb-4">
            <legend class="w-auto px-2 bg-white text-dark fw-bold fs-4 border-bottom pb-2 mb-3">Select Documents (.pdf, .png, .jpg, .jpeg, .xlsx, .txt, .csv, .docx)</legend>
    
            <div class="mb-3">
                {% if form.files.errors %}
                    <div class="input-group is-invalid">
                        <span class="input-group-text">
                            <i class="bi bi-file-earmark"></i>
                        </span>
                        {{ form.files(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.files.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-file-earmark"></i>
                        </span>
                        {{ form.files(class="form-control") }}
                    </div>
                {% endif %}
            </div>
    
            <div class="row g-3">
                {% if session['mode'] == 'anonymizer' %}
                <div class="col-md-2">
                    <div class="form-floating">
                        {% if form.text_split.errors %}
                        {{ form.text_split(class="form-control is-invalid") }}
                        <label for="{{ form.text_split.id }}">Split Length</label>
                        <div class="invalid-feedback">
                            {% for error in form.text_split.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.text_split(class="form-control") }}
                        <label for="{{ form.text_split.id }}">Split Length</label>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
    
                <div class="col-md-3">
                    <div class="form-floating">
                        {% if form.ocr_method.errors %}
                        {{ form.ocr_method(class="form-select is-invalid") }}
                        <label for="{{ form.ocr_method.id }}">OCR Method</label>
                        <div class="invalid-feedback">
                            {% for error in form.ocr_method.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.ocr_method(class="form-select") }}
                        <label for="{{ form.ocr_method.id }}">OCR Method</label>
                        {% endif %}
                    </div>
                </div>
    
                <div class="col-md-2 d-flex align-items-center">
                    <div class="form-check">
                        {% if form.force_ocr.errors %}
                        {{ form.force_ocr(class="form-check-input is-invalid") }}
                        <label class="form-check-label" for="{{ form.force_ocr.id }}">
                            <i class="bi bi-exclamation-triangle"></i> Force OCR
                        </label>
                        <div class="invalid-feedback">
                            {% for error in form.force_ocr.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.force_ocr(class="form-check-input") }}
                        <label class="form-check-label" for="{{ form.force_ocr.id }}">
                            <i class="bi bi-exclamation-triangle"></i> Force OCR
                        </label>
                        {% endif %}
                    </div>
                </div>
    
                <div class="col-md-3 d-flex align-items-center">
                    <div class="form-check">
                        {% if form.remove_previous_ocr.errors %}
                        {{ form.remove_previous_ocr(class="form-check-input is-invalid") }}
                        <label class="form-check-label" for="{{ form.remove_previous_ocr.id }}">
                            <i class="bi bi-trash"></i> Remove Previous OCR
                        </label>
                        <div class="invalid-feedback">
                            {% for error in form.remove_previous_ocr.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.remove_previous_ocr(class="form-check-input") }}
                        <label class="form-check-label" for="{{ form.remove_previous_ocr.id }}">
                            <i class="bi bi-trash"></i> Remove Previous OCR
                        </label>
                        {% endif %}
                    </div>
                </div>
    
                <div class="col-md-2 d-flex align-items-center ms-auto">
                    <button type="submit" name="submit-form" class="btn btn-secondary w-100 h-100">
                        <i class="bi bi-gear"></i> Preprocess Files
                    </button>
                </div>
            </div>
    
            <div class="info-callout mt-4">
                <h4 class="callout-title">Information</h4>
                <p>Preprocessing is done to transform your data in a standardized format. You can upload your files in many formats.
                    <br>
                    <br>
                    If your file contains no machine-readable text (e.g. images or scanned PDFs), OCR (Optical Character Recognition) will be performed automatically. You can choose between <i><b>Tesseract</b></i> and <i><b>Surya-OCR</b></i>.
                    <br>
                    <br>
                    It might happen that your PDF documents don't contain text but are still recognized as if they contain text. In this case, you can force OCR by checking the <i>Force OCR</i> checkbox.
                    <br>
                    <br>
                    You can also remove previously generated OCR files by checking the <i>Remove Previous OCR</i> checkbox. But be careful: If the text in document is actual text and not an invisible text layer added by a previous OCR run, the whole text will be removed and your document will be empty (except images) afterwards!
    
                    <br>
                    <br>
                    <b>Excel / CSV files:</b> When you upload Excel or CSV files, you need to have a header row with a <b>id</b> and <b>report</b> column! In case of excel files, only the first sheet will be processed.
    
                    {% if session['mode'] == 'anonymizer' %}
                    <br>
                    <br>
                    <b>Split Length:</b> As the size of the context which a LLM model can process at once is limited, you can split the reports into smaller chunks of N characters. It is however recommended to use a model with a sufficient context size and not to split the text. Text splitting is only supported in the Anonymizer Mode, the Information Extraction Evaluation and Annotation Helper just use the first chunk of each document!
                    {% endif %}
                </p>
            </div>
        </fieldset>
    </form>
    

    <h1 class="display-4 text-center mb-3">Document Preprocessing Progress</h1>
        <div class="container">
            {% for job_id, progress_tuple in progress.items() %}
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h3 class="card-title">Job {{ job_id }}</h3>
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <div class="progress" role="progressbar" aria-valuenow="{{ progress_tuple[0] }}" aria-valuemin="0" aria-valuemax="{{ progress_tuple[1] }}" style="height: 1.5rem;">
                                {% if progress_tuple[2] %}
                                <div class="progress-bar bg-success" style="width: {{ (progress_tuple[0] / progress_tuple[1]) * 100 }}%;" id="progress-{{ job_id }}">
                                    <span class="small">{{ progress_tuple[0] }} / {{ progress_tuple[1] }}</span>
                                </div>
                                {% else %}
                                <div class="progress-bar bg-danger" style="width: 100%;" id="progress-{{ job_id }}">
                                    <span class="small">{{ progress_tuple[0] }} / {{ progress_tuple[1] }} FAILED</span>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="ms-3">
                            {% if progress_tuple[0] == progress_tuple[1] %}
                            <a id="download-{{ job_id }}" href="/download?job={{ job_id }}" class="btn btn-outline-success"><i class="bi bi-download"></i> Download</a>
                            {% elif progress_tuple[2] %}
                            <a id="download-{{ job_id }}" class="btn btn-outline-secondary" disabled>Processing...</a>
                            {% else %}
                            <a id="download-{{ job_id }}" class="btn btn-outline-danger" disabled>Failed</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="warning-callout">
            <h4 class="callout-title">Hint</h4>

            <p>
                If you upload documents / csv / excel / text files which require no OCR it might happen that you just see a empty progress bar or a full progress bar but no Download button. In this case, just reload the page.
            </p>

        </div>


</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('progress_update', function(data) {
        var job_id = data.job_id;
        var progress = data.progress;
        var totalSteps = data.total;

        // Update progress bar for the corresponding job
        var progressBar = document.getElementById('progress-' + job_id);
        if (progressBar) {
            progressBar.style.width = (progress / totalSteps) * 100 + '%';
            progressBar.innerText = progress + ' / ' + totalSteps;
        }
    });

    socket.on('progress_complete', function(data) {
        var job_id = data.job_id;
        var progressBar = document.getElementById('progress-' + job_id);

        progressBar.className = 'progress-bar bg-success';
        progressBar.style.width = '100%';
        // Enable download button
        var downloadLink = document.getElementById('download-' + job_id);
        downloadLink.href = '/download?job=' + job_id;
        downloadLink.classList.remove('btn-outline-secondary');
        downloadLink.classList.add('btn-outline-success');
        downloadLink.innerHTML = 'Download';
        downloadLink.classList.remove('disabled');
        downloadLink.removeAttribute('disabled');
    });

    socket.on('progress_failed', function(data) {

        var job_id = data.job_id;
        var progressBar = document.getElementById('progress-' + job_id);
         
        // Make progress bar red and state failure
        progressBar.className = 'progress-bar bg-danger';
        progressBar.innerText = 'Failed';
        progressBar.style.width = '100%';

        var downloadLink = document.getElementById('download-' + job_id);
        downloadLink.classList.add('disabled');
        downloadLink.setAttribute('disabled', 'disabled');
        downloadLink.className = 'btn btn-danger disabled';

    });



</script>

{% endblock content %}