{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <h1>LLM Information Extraction</h1>

    <form action="" method="post" enctype="multipart/form-data">

        {{ form.hidden_tag() }}

        <fieldset class="form-control p-3">
            <legend>Upload preprocessed documents (.zip)</legend>

            <div class="row">
                <div class="form-group col-md-12">

                    {% if form.file.errors %}
                    {{ form.file(class="form-control form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.file.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.file(class="form-control form-control") }}
                    {% endif %}
                </div>

            </div>
        </fieldset>


        <fieldset class="form-control p-3">
            <legend>LLM Settings</legend>

            <div class="row">
                <div class="form-group col-md-12">
                    {{ form.prompt.label(class="form-control-label") }}

                    {% if form.prompt.errors %}
                    {{ form.prompt(class="form-control form-control is-invalid", rows="7") }}
                    <div class="invalid-feedback">
                        {% for error in form.prompt.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.prompt(class="form-control form-control", rows="7") }}
                    {% endif %}
                </div>
            </div>

            <div class="row" style="display: none;">
                <div class="form-group col-md-12">
                    {{ form.variables.label(class="form-control-label") }}

                    {% if form.variables.errors %}
                    {{ form.variables(class="form-control form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.variables.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.variables(class="form-control form-control") }}
                    {% endif %}
                </div>
            </div>

            <div class="row mt-3">
                <div class="form-group col-md-4">
                    {{ form.temperature.label(class="form-control-label") }}

                    {% if form.temperature.errors %}
                    {{ form.temperature(class="form-control form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.temperature.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.temperature(class="form-control form-control", min=0, max=1) }}
                    {% endif %}
                </div>

                <div class="form-group col-md-4">
                    {{ form.n_predict.label(class="form-control-label") }}

                    {% if form.n_predict.errors %}
                    {{ form.n_predict(class="form-control form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.n_predict.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.n_predict(class="form-control form-control") }}
                    {% endif %}
                </div>

                <div class="form-group col-md-4">
                    {{ form.model.label(class="form-control-label") }}

                    {% if form.model.errors %}
                    {{ form.model(class="form-control form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.model.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.model(class="form-control form-control") }}
                    {% endif %}
                </div>
            </div>

            <nav class="mt-5">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-grammar-tab" data-bs-toggle="tab" data-bs-target="#nav-grammar" type="button" role="tab" aria-controls="nav-grammar" aria-selected="true">Grammar</button>
                  <button class="nav-link" id="nav-grammarbuilder-tab" data-bs-toggle="tab" data-bs-target="#nav-grammarbuilder" type="button" role="tab" aria-controls="nav-grammarbuilder" aria-selected="false">Grammar Builder</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-grammar" role="tabpanel" aria-labelledby="nav-grammar-tab" tabindex="0">
                    <fieldset class="form-control p-3">
                        <legend>Grammar</legend>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <!--{{ form.grammar.label(class="form-control-label") }}-->
            
                                {% if form.grammar.errors %}
                                {{ form.grammar(class="form-control form-control is-invalid", rows="12") }}
                                <div class="invalid-feedback">
                                    {% for error in form.grammar.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.grammar(class="form-control form-control", rows="12") }}
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                    
                </div>
                <div class="tab-pane fade" id="nav-grammarbuilder" role="tabpanel" aria-labelledby="nav-grammarbuilder-tab" tabindex="0">
                    <fieldset class="form-control p-3">
                        <div class="row mb-3">
                            <div class="col">
                                <legend>Grammar Builder</legend>
                            </div>
                            <div class="col">
                                <div class="container text-end">
                                    <button id="save-configuration" class="btn btn-primary">Save Configuration</button>
                                    <button id="load-configuration" class="btn btn-secondary">Load Configuration</button>
                                    <button id="generate-grammar" class="btn btn-primary">Generate Full Grammar</button>
                                </div>
                            </div>
                        </div>
                        
            
                        <input type="file" id="load-file" style="display:none;" />
                        <a id="download-link" style="display:none;"></a>
            
                        <div id="grammar_entries" class="list-group">
                            {% for grammar_entry in form.grammarbuilder %}
                            <div class="list-group-item">
                                <div class="entry row">
                                    <div class="form-group col-md-3">
                                        {{ grammar_entry.field_name.label(class="form-control-label") }} {{ grammar_entry.field_name(class="form-control") }}
                                    </div>
                                    <div class="form-group col-md-2">
                                        {{ grammar_entry.field_type.label(class="form-control-label") }} {{ grammar_entry.field_type(class="form-control") }}
                                    </div>
                
                                    <div class="conditional-field form-group col-md-5" data-field-type="stringN">
                                        {{ grammar_entry.string_length.label(class="form-control-label") }} {{ grammar_entry.string_length(class="form-control") }}
                                    </div>
                                    <div class="conditional-field form-group col-md-5" data-field-type="numberN">
                                        {{ grammar_entry.number_length.label(class="form-control-label") }} {{ grammar_entry.number_length(class="form-control") }}
                                    </div>
                                    <div class="conditional-field form-group col-md-5" data-field-type="fp-number-disabled">
                                        {{ grammar_entry.fp_number_length.label(class="form-control-label") }} {{ grammar_entry.fp_number_length(class="form-control") }}
                                    </div>
                                    <div class="conditional-field form-group col-md-5" data-field-type="options">
                                        {{ grammar_entry.options.label(class="form-control-label") }} {{ grammar_entry.options(class="form-control") }}
                                    </div>
                                    <div class="conditional-field form-group col-md-5" data-field-type="custom">
                                        {{ grammar_entry.custom_rule.label(class="form-control-label") }} {{ grammar_entry.custom_rule(class="form-control") }}
                                    </div>
                                    <!--Layout placeholders-->
                                    <div class="conditional-field form-group col-md-5" data-field-type="string">
                                    </div>
                                    <div class="conditional-field form-group col-md-5" data-field-type="number">  
                                    </div>
                                    <div class="conditional-field form-group col-md-5" data-field-type="boolean">  
                                    </div>
                                    <div class="conditional-field form-group col-md-5" data-field-type="fp-number">  
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label class="form-control-label">​</label>
                                        <button type="button" class="remove-row btn btn-danger btn form-control">X</button>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
            
            
                        <button type="button" id="add-row" class="btn btn-outline-success mt-3 mb-4">Add Rule</button>
                        
            
                        <div class="row">
                            <div class="form-group col-md-12">
                                {{ form.extra_grammar_rules.label(class="form-control-label") }}
            
                                {% if form.extra_grammar_rules.errors %}
                                {{ form.extra_grammar_rules(class="form-control form-control is-invalid", rows="3") }}
                                <div class="invalid-feedback">
                                    {% for error in form.extra_grammar_rules.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.extra_grammar_rules(class="form-control form-control", rows="3") }}
                                {% endif %}
                            </div>
                        </div>
            
                        
                    </fieldset>

                </div>
            </div>

        </fieldset>

        <!-- <fieldset class="form-control p-3">
            <legend>Grammar Builder</legend>

            <div id="grammar_entries">
                {% for grammar_entry in form.grammarbuilder %}
                <div class="entry">
                    {{ grammar_entry.field_name.label }} {{ grammar_entry.field_name }}
                    {{ grammar_entry.field_type.label }} {{ grammar_entry.field_type }}
                    <button type="button" class="remove-row btn btn-danger">X</button>
                </div>
                {% endfor %}
            </div>

            <button type="button" id="add-row" class="btn btn-outline-success">Add Rule</button>
        </fieldset> -->

        




        <div class="row">
            <div class="form-group col-md-12">
                <!--{% if form.submit.errors %}
                {{ form.submit(class="form-control form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.submit.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.submit(class="form-control form-control", id="submit-form") }}
                {% endif %}-->
                <button type="submit" name="submit-form" class="form-control form-control btn btn-secondary">Run LLM Processing</button>
            </div>
        </div>

    </form>



</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
$(document).ready(function () {
    let entryIndex = {{ form.grammarbuilder|length }};

    function updateConditionalFields(entry) {
        const selectField = entry.find('select[name^="grammarbuilder-"][name$="-field_type"]');
        selectedValue = selectField.val();
        entry.find('.conditional-field').hide();

        // if selectedValue equals 'stringN' or 'stringuptoN', set selectedValue to stringN
        if (selectedValue === 'stringN' || selectedValue === 'stringuptoN') {
            selectedValue = 'stringN';
        }

        if (selectedValue === 'numberN' || selectedValue === 'numberuptoN') {
            selectedValue = 'numberN';
        }
        
        entry.find(`.conditional-field[data-field-type="${selectedValue}"]`).show();
    }

    function getEntryData(entry) {
        return {
            field_name: entry.find('input[name^="grammarbuilder-"][name$="-field_name"]').val(),
            field_type: entry.find('select[name^="grammarbuilder-"][name$="-field_type"]').val(),
            string_length: entry.find('input[name^="grammarbuilder-"][name$="-string_length"]').val(),
            number_length: entry.find('input[name^="grammarbuilder-"][name$="-number_length"]').val(),
            fp_number_length: entry.find('input[name^="grammarbuilder-"][name$="-fp_number_length"]').val(),
            options: entry.find('input[name^="grammarbuilder-"][name$="-options"]').val(),
            custom_rule: entry.find('input[name^="grammarbuilder-"][name$="-custom_rule"]').val()
        };
    }

    function createEntryHTML(data = {}, index) {
        const {
            field_name = '',
            field_type = 'string',  // Default to "string"
            string_length = '',
            number_length = '',
            fp_number_length = '',
            options = '',
            custom_rule = ''
        } = data;

        // alert the currrent field type
        // alert(field_type);

        return `
        <div class="list-group-item">
            <div class="entry row">
                <div class="form-group col-md-3">
                    <label class="form-control-label" for="grammarbuilder-${index}-field_name">{{ form.grammarbuilder[0].field_name.label }}</label>
                    <input type="text" name="grammarbuilder-${index}-field_name" id="grammarbuilder-${index}-field_name" class="form-control" value="${field_name}">
                </div>
                <div class="form-group col-md-2">
                    <label class="form-control-label" for="grammarbuilder-${index}-field_type">{{ form.grammarbuilder[0].field_type.label }}</label>
                    <select name="grammarbuilder-${index}-field_type" id="grammarbuilder-${index}-field_type" class="form-control">
                        {% for field_type in form.grammarbuilder[0].field_type %}
                        {{field_type}}
                        {% endfor %}
                    </select>
                </div>
                <div class="conditional-field form-group col-md-5" data-field-type="stringN" style="display: ${field_type == 'stringN' || field_type == 'stringuptoN' ? 'block' : 'none'};">
                    <label class="form-control-label" for="grammarbuilder-${index}-string_length">{{ form.grammarbuilder[0].string_length.label }}</label>
                    <input type="number" name="grammarbuilder-${index}-string_length" id="grammarbuilder-${index}-string_length" class="form-control" value="${string_length}">
                </div>
                <div class="conditional-field form-group col-md-5" data-field-type="numberN" style="display: ${field_type == 'number' ? 'block' : 'none'};">
                    <label class="form-control-label" for="grammarbuilder-${index}-number_length">{{ form.grammarbuilder[0].number_length.label }}</label>
                    <input type="number" name="grammarbuilder-${index}-number_length" id="grammarbuilder-${index}-number_length" class="form-control" value="${number_length}">
                </div>
                <div class="conditional-field form-group col-md-5" data-field-type="fp-number-disabled" style="display: ${field_type == 'fp-number' ? 'block' : 'none'};">
                    <label class="form-control-label" for="grammarbuilder-${index}-fp_number_length">{{ form.grammarbuilder[0].fp_number_length.label }}</label>
                    <input type="number" name="grammarbuilder-${index}-fp_number_length" id="grammarbuilder-${index}-fp_number_length" class="form-control" value="${fp_number_length}">
                </div>
                <div class="conditional-field form-group col-md-5" data-field-type="options" style="display: ${field_type == 'options' ? 'block' : 'none'};">
                    <label class="form-control-label" for="grammarbuilder-${index}-options">{{ form.grammarbuilder[0].options.label }}</label>
                    <input type="text" name="grammarbuilder-${index}-options" id="grammarbuilder-${index}-options" class="form-control" value="${options}">
                </div>
                <div class="conditional-field form-group col-md-5" data-field-type="custom" style="display: ${field_type == 'custom' ? 'block' : 'none'};">
                    <label class="form-control-label" for="grammarbuilder-${index}-custom_rule">{{ form.grammarbuilder[0].custom_rule.label }}</label>
                    <input type="text" name="grammarbuilder-${index}-custom_rule" id="grammarbuilder-${index}-custom_rule" class="form-control" value="${custom_rule}">
                </div>
                <div class="conditional-field form-group col-md-5" data-field-type="string" style="display: ${field_type == 'string' ? 'block' : 'none'};">
                </div>
                <div class="conditional-field form-group col-md-5" data-field-type="number" style="display: ${field_type == 'number' ? 'block' : 'none'};">
                </div>
                <div class="conditional-field form-group col-md-5" data-field-type="boolean" style="display: ${field_type == 'boolean' ? 'block' : 'none'};">
                </div>
                <div class="conditional-field form-group col-md-5" data-field-type="fp-number" style="display: ${field_type == 'fp-number' ? 'block' : 'none'};">
                </div>
                <div class="form-group col-md-1 col-md-pull-5">
                    <label class="form-control-label">​</label>
                    <button type="button" class="remove-row btn btn-danger btn form-control">X</button>
                </div>
            </div>
        </div>`;
    }

    $('#add-row').click(function () {
        entryIndex++;
        let newEntry = createEntryHTML({}, entryIndex);
        $('#grammar_entries').append(newEntry);
        let newEntryElement = $('#grammar_entries').children().last();
        updateConditionalFields(newEntryElement);
    });

    $(document).on('change', 'select[name^="grammarbuilder-"][name$="-field_type"]', function () {
        let entry = $(this).closest('.entry');
        updateConditionalFields(entry);
    });

    $('#grammar_entries .entry').each(function () {
        updateConditionalFields($(this));
    });

    $(document).on('click', '.remove-row', function () {
        $(this).closest('.entry').remove();
    });

    function downloadFile(content, filename, contentType) {
        const link = document.createElement("a");
        const file = new Blob([content], { type: contentType });
        link.href = URL.createObjectURL(file);
        link.download = filename;

        // Append link to the body to ensure it works in Firefox
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }

    $('#save-configuration').click(function (event) {
        event.preventDefault();
        let entriesData = [];
        $('#grammar_entries .entry').each(function () {
            let entryData = getEntryData($(this));
            entriesData.push(entryData);
        });

        // Extract the value of extra_grammar_rules
        const extraRules = $('textarea[name="extra_grammar_rules"]').val().trim();

        // Create CSV content for entries
        const csvContent = entriesData.map(e => [
            e.field_name,
            e.field_type,
            e.string_length || '',
            e.number_length || '',
            e.fp_number_length || '',
            e.options || '',
            e.custom_rule || ''
        ].join(",")).join("\n");

        // Append extraRules as an extra line at the end
        const finalCsvContent = extraRules ? csvContent + "\n" + extraRules : csvContent;

        downloadFile(finalCsvContent, 'grammar_entries.csv', 'text/csv');
    });

    $('#load-configuration').click(function (event) {
        event.preventDefault(); // Prevent default action to avoid page scroll
        $('#load-file').click();
    });

    $('#load-file').change(function (event) {
        event.preventDefault();
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const csv = e.target.result;

                // Split CSV into lines
                const lines = csv.split("\n");

                // Parse entries
                const entriesData = lines.slice(0, -1).map(row => {
                    const cols = row.split(",");
                    return {
                        field_name: cols[0].replace(/"/g, '&quot;') || '',
                    field_type: cols[1].replace(/"/g, '&quot;') || 'string',
                    string_length: cols[2].replace(/"/g, '&quot;') || '',
                    number_length: cols[3].replace(/"/g, '&quot;') || '',
                    fp_number_length: cols[4].replace(/"/g, '&quot;') || '',
                    options: cols[5].replace(/"/g, '&quot;') || '',
                    custom_rule: cols[6].replace(/"/g, '&quot;') || ''
                    };
                });

                // Populate extra_grammar_rules field
                const extraRules = lines.slice(-1)[0].trim();
                $('textarea[name="extra_grammar_rules"]').val(extraRules);

                // Append rows to the form
                $('#grammar_entries').empty();
                entriesData.forEach(function (entryData, index) {
                    let newEntry = createEntryHTML(entryData, index);
                    $('#grammar_entries').append(newEntry);
                    let newEntryElement = $('#grammar_entries').children().last();
                    newEntryElement.find(`select[name="grammarbuilder-${index}-field_type"]`).val(entryData.field_type);
                    updateConditionalFields(newEntryElement);
                    // alert(entryData.custom_rule)
                });
                entryIndex = entriesData.length;
            };
            reader.readAsText(file);
        }
    });

    $('#generate-grammar').click(function (event) {
        event.preventDefault();
        
        // Generate grammar for each entry
        let grammar = '';
        $('#grammar_entries .entry').each(function () {
            
            let entryData = getEntryData($(this));
            if (entryData.field_type === 'string') {
                grammar += `ws "\\"${entryData.field_name}\\":" ws string ","\n`;
            } else if (entryData.field_type === 'stringuptoN' && entryData.string_length) {
                grammar += `ws "\\"${entryData.field_name}\\":" ws stringupto${entryData.string_length} ","\n`;
            } else if (entryData.field_type === 'stringN' && entryData.string_length) {
                grammar += `ws "\\"${entryData.field_name}\\":" ws string${entryData.string_length} ","\n`;
            } else if (entryData.field_type === 'stringuptoN' && !entryData.string_length) {
                alert("String length is required for 'stringuptoN' type in field: " + entryData.field_name);
            } else if (entryData.field_type === 'stringN' && !entryData.string_length) {
                alert("String length is required for 'stringN' type in field: " + entryData.field_name);
            } else if (entryData.field_type === 'number') {
                grammar += `ws "\\"${entryData.field_name}\\":" ws "\\"" [0-9]* "\\"" ","\n`;
            } else if (entryData.field_type === 'numberuptoN' && entryData.number_length) {
                grammar += `ws "\\"${entryData.field_name}\\":" ws numberupto${entryData.number_length} ","\n`;
                rule = generateNumberRuleOptional(entryData.number_length);
            } else if (entryData.field_type === 'numberN' && entryData.number_length) {
                grammar += `ws "\\"${entryData.field_name}\\":" ws number${entryData.number_length} ","\n`;
                rule = generateNumberRule(entryData.number_length);
            } else if (entryData.field_type === 'numberuptoN' && !entryData.number_length) {
                alert("Number length is required for 'numberuptoN' type in field: " + entryData.field_name);
            } else if (entryData.field_type === 'numberN' && !entryData.number_length) {
                alert("Number length is required for 'numberN' type in field: " + entryData.field_name);
            } else if (entryData.field_type === 'fp-number') {
                grammar += `ws "\\"${entryData.field_name}\\":" ws "\\"" ("-"? ([0-9] | [1-9] [0-9]*)) ("." [0-9]+)? ([eE] [-+]? [0-9]+)? "\\"" ","\n`;
            } else if (entryData.field_type === 'boolean') {
                grammar += `ws "\\"${entryData.field_name}\\":" ws boolean ","\n`;
            } else if (entryData.field_type === 'custom') {
                grammar += `ws "\\"${entryData.field_name}\\":" ws ${entryData.custom_rule} ","\n`;
            } else if (entryData.field_type === 'options') {
                let options = entryData.options.split(',').map(option => `"${option.trim()}"`).join(' | ');
                grammar += `ws "\\"${entryData.field_name}\\":" ws "\"" ${options} "\"" ","\n`;
            } else {
                grammar += `ws "\\"${entryData.field_name}\\":" ws ${entryData.field_type} ","\n`;
            }
        });

        // Construct full grammar with entries
        let fullGrammar = `root ::= allrecords

allrecords ::= (
  "{"
${grammar}
  ws "}"
  ws
)

ws ::= ([ \\t\\n])?

`;

    let addedRules = new Set();
    let charRuleAdded = false;

    $('#grammar_entries .entry').each(function () {
        let entryData = getEntryData($(this));
        let stringRule = '';

        var charDefinition = 'char ::= [^"\\\\] | "\\\\" (["\\\\/bfnrt] | "u" [0-9a-fA-F] [0-9a-fA-F] [0-9a-fA-F] [0-9a-fA-F])\n\n';

        if (entryData.field_type === 'string') {
            stringRule = `string ::=
  "\\"" (
    [^"\\\\\\x7F\\x00-\\x1F] |
    "\\\\" (["\\\\/bfnrt] | "u" [0-9a-fA-F] [0-9a-fA-F] [0-9a-fA-F] [0-9a-fA-F]) # escapes
  )* "\\""ws\n\n`;
        }
        else if (entryData.field_type === 'stringN' && entryData.string_length) {
            if (!charRuleAdded) {
                fullGrammar += charDefinition;
                charRuleAdded = true;
            }
            stringRule = generateStringRule(entryData.string_length);
        } else if (entryData.field_type === 'stringuptoN' && entryData.string_length) {
            if (!charRuleAdded) {
                fullGrammar += charDefinition;
                charRuleAdded = true;
            }
            stringRule = generateStringRuleOptional(entryData.string_length);
        } else if (entryData.field_type === 'numberN' && entryData.number_length) {
            stringRule = generateNumberRule(entryData.number_length);
        } else if (entryData.field_type === 'numberuptoN' && entryData.number_length) {
            stringRule = generateNumberRuleOptional(entryData.number_length);
        } else if (entryData.field_type === 'boolean') {
            stringRule = `boolean ::= "\"" ("true" | "false" | "null") "\"" ws\n\n`;
        }

        // Check if the rule already exists
        if (stringRule && !addedRules.has(stringRule)) {
            fullGrammar += stringRule;
            addedRules.add(stringRule); // Add the rule to the set
        }
    });


        // Add extra grammar rules
        const extraRules = $('textarea[name="extra_grammar_rules"]').val().trim();
        if (extraRules) {
            fullGrammar += extraRules.trim() + "\n";
        }

        // Alert the output
        // alert(fullGrammar);
        var textarea = document.getElementById("grammar");
        textarea.value = fullGrammar; // Set the text content here

        var firstTabButton = document.getElementById("nav-grammar-tab");
        
        // Trigger a click event on the first tab button
        firstTabButton.click();


    });



});

function generateStringRule(length) {
    let stringRule = `string${length} ::= "\\""`;
    for (let i = 0; i < length; i++) {
        stringRule += ` char`;
    }
    stringRule += ` "\\"" ws\n\n`;
    return stringRule;
}

// This rule should generate nested chars: (char (char (char)?)?)? (e.g. for length=3)
function generateStringRuleOptional(length) {
    let stringRule = `stringupto${length} ::= "\\""`; // Starting rule

    for (let i = 0; i < length; i++) {
        stringRule += '('; // Open nested parentheses
        stringRule += 'char '; // Add the char
    }

    for (let i = 0; i < length; i++) {
        stringRule += ')?'; // Close nested parentheses with optional character
    }

    stringRule += ' "\\"" ws\n\n'; // Closing rule

    return stringRule;
}

function generateNumberRule(length) {
    let numberRule = `number${length} ::= "\\""`;
    for (let i = 0; i < length; i++) {
        numberRule += `[0-9]`;
    }
    numberRule += ` "\\"" ws\n\n`; // Closing rule
    return numberRule;
}

function generateNumberRuleOptional(length) {
    let numberRule = `numberupto${length} ::= "\\""`;

    for (let i = 0; i < length; i++) {
        numberRule += '('; // Open nested parentheses
        numberRule += '[0-9]'; // Add the digit
    }

    for (let i = 0; i < length; i++) {
        numberRule += ')?'; // Close nested parentheses with optional digit
    }

    numberRule += ' "\\"" ws\n\n'; // Closing rule

    return numberRule;
}





</script>


{% endblock %}