{% extends "layout.html" %}

{% block content %}
<div class="nested-container">
    <h2>Report Redaction Metrics</h2>

    <div class="d-flex justify-content-between align-items-center">
        <p>Total reports: {{ total_reports }}</p>
        <div>
            {% if metadata %}
            <span class="badge rounded-pill text-bg-info">{{ metadata['llm_processing']['model_name']}}</span>
            {% endif %}
            {% if session.get('enable_fuzzy', False) %}
            <span class="badge rounded-pill text-bg-success ml-1">Fuzzy Matching</span>
            {% else %}
            <span class="badge rounded-pill text-bg-secondary ml-1">Default Matching</span>
            {% endif %}
        </div>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">All Labels</button>
        </li>
        {% for key, value in report_list['accumulated_metrics'].items() if key != 'personal_info_list' %}
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="scores-tab-{{ key }}" data-bs-toggle="tab"
                data-bs-target="#scores-tab-{{ key }}-pane" type="button" role="tab"
                aria-controls="scores-tab-{{ key }}-pane" aria-selected="false">{{ key }}</button>
        </li>
        {% endfor %}
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
            tabindex="0">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Metric</th>
                                    <th>Macro Score</th>
                                    <th>Micro Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Precision</td>
                                    <td>{{ report_list['accumulated_metrics']['personal_info_list']['metrics']['precision'] }}</td>
                                    <td>{{ report_list['accumulated_metrics']['personal_info_list']['metrics']['micro_precision'] }}</td>
                                </tr>
                                <tr>
                                    <td>Recall</td>
                                    <td>{{ report_list['accumulated_metrics']['personal_info_list']['metrics']['recall'] }}</td>
                                    <td>{{ report_list['accumulated_metrics']['personal_info_list']['metrics']['micro_recall'] }}</td>
                                </tr>
                                <tr>
                                    <td>Accuracy</td>
                                    <td>{{ report_list['accumulated_metrics']['personal_info_list']['metrics']['accuracy'] }}</td>
                                    <td>{{ report_list['accumulated_metrics']['personal_info_list']['metrics']['micro_accuracy'] }}</td>
                                </tr>
                                <tr>
                                    <td>F1 Score</td>
                                    <td>{{ report_list['accumulated_metrics']['personal_info_list']['metrics']['f1_score'] }}</td>
                                    <td>{{ report_list['accumulated_metrics']['personal_info_list']['metrics']['micro_f1_score'] }}</td>
                                </tr>
                                <tr>
                                    <td>Specificity</td> 
                                    <td>{{ report_list['accumulated_metrics']['personal_info_list']['metrics']['specificity'] }}</td> 
                                    <td>{{ report_list['accumulated_metrics']['personal_info_list']['metrics']['micro_specificity'] }}</td>
                                </tr>
                                <tr>
                                    <td>False Positive Rate</td>
                                    <td>{{ report_list['accumulated_metrics']['personal_info_list']['metrics']['false_positive_rate'] }}</td>
                                    <td>{{ report_list['accumulated_metrics']['personal_info_list']['metrics']['micro_false_positive_rate'] }}</td>
                                </tr>
                                <tr>
                                    <td>False Negative Rate</td>
                                    <td>{{ report_list['accumulated_metrics']['personal_info_list']['metrics']['false_negative_rate'] }}</td>
                                    <td>{{ report_list['accumulated_metrics']['personal_info_list']['metrics']['micro_false_negative_rate'] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ url_for('report_redaction.reportredactionconfusionmatrix', job_id=job_id) }}" class="img" height="300px">
                    </div>
                </div>
            </div>

        </div>
        {% for label in report_list['accumulated_metrics'].keys() if label != 'personal_info_list' %}

        <div class="tab-pane fade" id="scores-tab-{{ label }}-pane" role="tabpanel"
            aria-labelledby="scores-tab-{{ label }}" tabindex="0">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Metrics for {{ label }}</th>
                                    <th>Macro Score</th>
                                    <th>Micro Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Precision</td>
                                    <td>{{ report_list['accumulated_metrics'][label]['metrics']['precision'] }}</td>
                                    <td>{{ report_list['accumulated_metrics'][label]['metrics']['micro_precision'] }}</td>
                                </tr>
                                <tr>
                                    <td>Recall</td>
                                    <td>{{ report_list['accumulated_metrics'][label]['metrics']['recall'] }}</td>
                                    <td>{{ report_list['accumulated_metrics'][label]['metrics']['micro_recall'] }}</td>
                                </tr>
                                <tr>
                                    <td>Accuracy</td>
                                    <td>{{ report_list['accumulated_metrics'][label]['metrics']['accuracy'] }}</td>
                                    <td>{{ report_list['accumulated_metrics'][label]['metrics']['micro_accuracy'] }}</td>
                                </tr>
                                <tr>
                                    <td>F1 Score</td>
                                    <td>{{ report_list['accumulated_metrics'][label]['metrics']['f1_score'] }}</td>
                                    <td>{{ report_list['accumulated_metrics'][label]['metrics']['micro_f1_score'] }}</td>
                                </tr>
                                <tr>
                                    <td>Specificity</td> 
                                    <td>{{ report_list['accumulated_metrics'][label]['metrics']['specificity'] }}</td> 
                                    <td>{{ report_list['accumulated_metrics'][label]['metrics']['micro_specificity'] }}</td>
                                </tr>
                                <tr>
                                    <td>False Positive Rate</td>
                                    <td>{{ report_list['accumulated_metrics'][label]['metrics']['false_positive_rate'] }}</td>
                                    <td>{{ report_list['accumulated_metrics'][label]['metrics']['micro_false_positive_rate'] }}</td>
                                </tr>
                                <tr>
                                    <td>False Negative Rate</td>
                                    <td>{{ report_list['accumulated_metrics'][label]['metrics']['false_negative_rate'] }}</td>
                                    <td>{{ report_list['accumulated_metrics'][label]['metrics']['micro_false_negative_rate'] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ url_for('report_redaction.reportredactionconfusionmatrix', job_id=job_id, label=label) }}" class="img" height="300px">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    

    <div class="btn-group">
        <p>
            <a href="{{ url_for('report_redaction.download_all', job_id=job_id) }}" class="btn btn-secondary">Download All</a>
        </p>

        {% if metadata %}
          <p>
            <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMetadata" aria-expanded="false" aria-controls="collapseMetadata">
              Metadata
            </button>
          </p>
          {% endif %}
    </div>

    {% if metadata %}
    <div class="collapse" id="collapseMetadata">
        <div class="card card-body">
            <h3>Experiment Metadata</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td><b>Preprocessing Date</b></td>
                        <td>{{ metadata['preprocessing']['date']}}</td>
                    </tr>
                    <tr>
                        <td><b>LLM Processing Date</b></td>
                        <td>{{ metadata['llm_processing']['date']}}</td> 
                    </tr>
                    <tr>
                        <td><b>Model Name</b></td>
                        <td>{{ metadata['llm_processing']['model_name']}}</td>
                    </tr>
                    <tr>
                        <td><b>Prompt</b></td>
                        <td>{{ metadata['llm_processing']['prompt']}}</td>
                    </tr>
                    <tr>
                        <td><b>Symptoms</b></td>
                        <td>{{ metadata['llm_processing']['symptoms']}}</td>
                    </tr>
                    <tr>
                        <td><b>Temperature</b></td>
                        <td>{{ metadata['llm_processing']['temperature']}}</td>
                    </tr>
                    <tr>
                        <td><b>N Predict</b></td>
                        <td>{{ metadata['llm_processing']['n_predict']}}</td>
                    </tr>
                    <tr>
                        <td><b>CTX size</b></td>
                        <td>{{ metadata['llm_processing']['ctx_size']}}</td>
                    </tr>
                    <tr>
                        <td><b>Grammar</b></td>
                        <td>{{ metadata['llm_processing']['grammar']}}</td>
                    </tr>
                    <tr>
                        <td><b>Fuzzy Matching</b></td>
                        <td>{% if session.get('enable_fuzzy', False) %}Enabled, Threshold: {{ session['threshold'] }}, Scorer: {{ session['scorer'] }}, Exclude Single Chars: {% if session.get('exclude_single_chars', False) %}Yes{% else %}No{% endif %} {% else %}No{% endif %}</td>
                    </tr>
                </tbody>
            </table>
            <!--<pre>{{ metadata }}</pre>-->
        </div>
    </div>
    {% endif %}

    <ol class="list-group list-group-numbered">
        {% for report in report_list['report_list'] %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{report['id']}}</div>
                <a href="{{ url_for('report_redaction.report_redaction_viewer', report_id=report['id']) }}" class="btn btn-light float-right">🔎</a>

                F1: {{report['scores']['personal_info_list'][0]['f1_score']}}
                Acc: {{report['scores']['personal_info_list'][0]['accuracy']}}
                P: {{report['scores']['personal_info_list'][0]['precision']}}
                R: {{report['scores']['personal_info_list'][0]['recall']}}
                Spec: {{report['scores']['personal_info_list'][0]['specificity']}}
                FPR: {{report['scores']['personal_info_list'][0]['false_positive_rate']}}
                FNR: {{report['scores']['personal_info_list'][0]['false_negative_rate']}}
            </div>
            {% if report['scores']['personal_info_list'][0]['false_negative_rate'] == 0 %}
                <span class="badge text-bg-success rounded-pill">FNR: {{report['scores']['personal_info_list'][0]['false_negative_rate']}}</span>
            {% else %}
                <span class="badge text-bg-danger rounded-pill">FNR: {{report['scores']['personal_info_list'][0]['false_negative_rate']}}</span>
            {% endif %}
        </li>
        {% endfor %}
    </ol>
</div>


<style>
    .nested-container {
        padding: 30px 15px;
    }
</style>
</style>
{% endblock %}