{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h2>Report Redaction Viewer</h2>
    <h3>Report {{ report_number }}/{{ total_reports }}: {{ report_id }}</h3>
    <div class="navigation-buttons">
        {% if previous_id %}
            <a href="{{ url_for('report_redaction.report_redaction_viewer', report_id=previous_id) }}" class="btn btn-secondary float-left">Previous Report</a>
        {% endif %}
        {% if next_id %}
            <a href="{{ url_for('report_redaction.report_redaction_viewer', report_id=next_id) }}" class="btn btn-secondary float-right">Next Report</a>
        {% endif %}
        <div class="clearfix"></div>
    </div>
    <div class="pdf-container">
        <div class="pdf-viewer">
            <h3>Original Document</h3>
            <iframe src="{{ url_for('report_redaction.reportredactionfileoriginal', id=report_id) }}" height="800px" frameborder="0"></iframe>
        </div>
        <div class="pdf-viewer">
            <h3>Redacted Document</h3>
            <iframe src="{{ url_for('report_redaction.reportredactionfileredacted', id=report_id) }}" height="800px" frameborder="0"></iframe>
        </div>
    </div>
    <div class="personal-info-list">
        <h3>Personal Information</h3>
        <div class="btn-group" role="group" aria-label="Personal Information">
            {% for info in personal_info_list %}
                <button type="button" class="btn btn-secondary" disabled>{{ info }}</button>
            {% endfor %}
        </div>
    </div>
    {% if enable_fuzzy %}
    <div class="personal-info-list">
        <h3>Fuzzy Matches</h3>
        <div class="btn-group" id="fuzzy-matches-group" role="group" aria-label="Fuzzy Matches">
                
        </div>
    </div>
    
    {% endif %}
</div>


<style>
    .pdf-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .pdf-viewer {
        width: 48%; /* Adjust width to accommodate spacing */
        padding: 10px; /* Add spacing between iframes */
        border: 1px solid #ccc;
    }

    .pdf-viewer iframe {
        width: 100%;
    }

    .navigation-buttons {
        margin-bottom: 20px;
    }

    .clearfix {
        clear: both;
    }

    .float-left {
        float: left;
    }

    .float-right {
        float: right;
    }
    .report-number {
        display: inline-block;
        margin: 0 10px;
    }
    .personal-info-list {
        margin-top: 20px;
        margin-bottom: 50px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>

<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    
    socket.on('reportredaction_done', function(data) {
        var fuzzyMatches = data.fuzzy_matches;
    
        // Get the button group element by its id
        var buttonGroup = document.getElementById('fuzzy-matches-group');
    
        // Clear existing buttons
        buttonGroup.innerHTML = '';
    
        // Add buttons for each fuzzy match
        fuzzyMatches.forEach(function(match) {
            var matchString = match[0];
            var score = match[1];
            var buttonText = matchString + ' (Score: ' + score + ')';
    
            // Create a button element
            var button = document.createElement('button');
            button.setAttribute('type', 'button');
            button.setAttribute('class', 'btn btn-secondary');
            button.setAttribute('disabled', 'disabled');
            button.innerText = buttonText;
    
            // Append the button to the button group
            buttonGroup.appendChild(button);
        });
    });
</script>
{% endblock %}
